
#faqs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 2rem;
}

.faqs-card .faqs-card-images:nth-child(1){ grid-area: a; }
.faqs-card .faqs-card-accordions:nth-child(2){ grid-area: b; }

/* dekstop layout */
.faqs-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    'a b';

    background-color: hsl(0, 0%, 100%);
    max-width: 920px;
    border-radius: 2rem;
}
/* tablet/mobile layout */
@media (width <= 768px){
    .faqs-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        'a'
        'b'
        'b'
        'b';
    }
}

.faqs-card-images{
    border: 2px solid brown;
}

.faqs-card-accordions{
    display: flex;
    flex-direction: column;
    padding: 0 2rem 4rem 2rem;
}

@media (width > 768px){
    .faqs-card-accordions{
        padding: 6rem 7.5rem 6.75rem 1.25rem;
    }
}

.accordion{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid hsl(240, 5%, 91%); /* light grayish blue */
}

.accordion-question{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.accordion-question::after{
    content: url(../assets/images/icon-arrow-down.svg);
    position: absolute;
    right: 1.25rem;
    transition: 500ms ease-in-out;
}

@media (width <= 425px){
    .accordion-question::after{
        right: 0;
    } 
}

.accordion-question.show-answer::after{
    transform: rotate(180deg);
}

.accordion-answer{
    max-height: 0;
    overflow: hidden;
    transition: 500ms ease-in-out;
}